<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable4-net4+sl5+win8+wp8+wpa81" userInstalled="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable4-net4+sl5+win8+wp8+wpa81" userInstalled="true" />
  <package id="MonoGame.Framework.Portable" version="3.2.99.1-Beta" targetFramework="portable4-net4+sl5+win8+wp8+wpa81" userInstalled="true" />
</packages>